{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
{% endblock %}
{% block banner_img %} <img src="{{url_for('static', filename='images/banner_homepage.png')}}" alt="banner"> {% endblock %}
{% block pre_products_content %}
    <!--Destaques-->
    <section class="highlights-section">
        <div class="highlight">
            <a href="#">
                <img src="{{url_for('static', filename='images/pronta_entrega.jpg')}}" alt="">
            </a>
        </div>
        <div class="highlight">
            <a href="#"">
                <img src="{{url_for('static', filename='images/ClaranaFC-24-25.jpeg')}}" alt="">
            </a>
        </div>
        <div class="highlight">
            <a href="#">
                <img src="{{url_for('static', filename='images/brasil-22-23.jpeg')}}" alt="">
            </a>
        </div>
    </section>
{% endblock %}
{% block products_section_title %} <h3 class="section-title">Mais <span>Vendidas</span></h3> {% endblock %}