{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/product_page.css')}}">
{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
    <h1 class="message">Falta pouco para finalizar<span>!</span></h1>
    <section class="single-product">
        <div class="image-and-details">
            <div class="img">
                {% for image in images %}
                    {% if image['priority'] == '1' %}
                    <img src="{{url_for('static', filename=image.image_path)}}" alt="">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="details">
                <h2 class="product-name" id="product-name">Camisa {{shirt.style}} {{shirt.name}} {{shirt.season}}/{{shirt.season + 1}}</h2>
                <h2 class="product-price"><span>R$</span> {{shirt.price}}</h2>
                <h3>Tamanho:</h3>
                <div class="size-selector">
                    <div class="size-option" data-size="P">P</div>
                    <div class="size-option" data-size="M">M</div>
                    <div class="size-option" data-size="G">G</div>
                </div>
                <form id="size-form">
                    <input type="hidden" class="shirtSize" id="shirtSize" value="">
                    <button type="submit" class="orderBtn"><i class="bi bi-handbag"></i> Enviar Pedido</button>
                </form> 
            </div>
        </div>
        <div class="detalhes-do-produto">
            <h2>Detalhes do Produto:</h2><br>
            <p>Camisa 100% algodão qualidade BGC né painho</p>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/product_page.js')}}"></script>
{% endblock %}