<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/upload_page.css')}}">
    <title>Upload Shirt</title>
</head>
<body>
    <h2>Upload a New Shirt</h2>
    <form action="/upload_page" method="POST" enctype="multipart/form-data">
        <label>Team:</label><br>
        <input type="text" name="team" required><br><br>

        <label>Style:</label><br>
        <select name="style" id="style" size="3">
            <option value="home">Home</option>
            <option value="away">Away</option>
            <option value="alternate">Alternate</option>
        </select><br><br>
        
        <label>Season:</label><br>
        <input type="number" name="season" step="1" value="24"><br><br>

        <label>Price:</label><br>
        <input type="number" name="price" step="0.01" value="110.00"><br><br>

        <label>Image:</label><br>
        <input type="file" name="image" accept="image/*" required><br><br>

        <input type="submit" value="Upload Product">
    </form>
</body>
</html>
